= render 'shared/nav'
.blog
  .blog-title
    %h6 Title
    = @blog.title
  .blog-content
    %h6 本文
    = @blog.content

.comments
  .comments-new
    %h6 コメントする
    = form_for [@blog,@comment] do |f|
      = f.text_area :text, class: 'comments-new__text'
      = f.submit 'Send', class: 'waves-effect waves-light btn-large indigo darken-3'
  .comments-list
    %h6 コメント一覧
    - @comments.each do |comment|
      .comments-list__name
        commented at
        = comment.user.name
      .comments-list__text
        = comment.text
    = paginate(@comments)
