= render 'shared/nav'
.blog
  .blog-title
    %h6 Title
    = @blog.title
  .blog-content
    %h6 本文
    = @blog.content

.comments
  .comments-box
    %p コメント
    .comments-box__count
      = @comments_count
  .comments_area
    = render partial: 'comments/list', locals: { comment: @comment}
.comment-form
  - if user_signed_in?
    = render partial: 'comments/form', locals: { comment: @comment}
